{% extends "landing/base.html" %} 
{% block content %}



{% for user, f in follows.items %} 
<a id="count_{{user}}" class="d-none">{{user.followerCount}}</a>
<div id="div_{{user}}" class="userdiv d-none">
    
    {% for i,l in f.items %}
    <li id="same_{{i}}">{{i}}**{{l}}</li>
        {% endfor %}
</div>  

{% endfor %}


<select class="custom-select" id="inputGroupSelect01" onchange="selectCircle(event)">
    <option selected value="ANY">All</option>
    {% for user, f in follows.items%}
    <option value="{{user}}">{{user}}</option>
    {% endfor %}
</select>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="follows" onclick="changeArrowFunction('follows')">
    <label class="form-check-label" for="inlineRadio1">Follows</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="followedBy" onclick="changeArrowFunction('followedBy')">
    <label class="form-check-label" for="inlineRadio2">followed by</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="EachOther" onclick="changeArrowFunction('eachOther')">
    <label class="form-check-label" for="inlineRadio3">Follow each other</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="All"  checked="checked" onclick="changeArrowFunction('All')">
    <label class="form-check-label" for="inlineRadio3">All</label>
</div>
  
<style>
    .slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
</style>

<script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
<script>
    
    let sf = 1; // scaleFactor
    let mx = 0, my = 0; // mouse coords;

    let lineThreshold = 1;

    let startmx, startmy;
    let xend = 0, yend = 0;

    var infos = []
    var dragging = false;
    var a = 3;
    var users = "{{test}}"

    var pointDrag = false;

    var eachother = false, followedBy = true, follows = true



    function infoCircle(x,y,name,count)
    {
        this.x = x;
        this.y = y;
        this.name = name;
        this.count = count
        this.draged = false;
        this.selected = true;
        this.infoopen = false;
        this.col = color(0,0,255);
        this.col = color(255,0,200);
        this.textColor = color(0,0,0);
        let div = createDiv('<p>'+this.name+'</p><p>Follower Count: '+this.count+'</p><p href="#" class="btn btn-primary">Go somewhere</p>');
        div.style('font-size', '16px');
        div.style('border','1px solid red')
        div.style('word-wrap','break-word')
        div.style('overflow','hidden')
        div.style('background-color','white')
        div.addClass('infoDiv')
        //Silas
        div.addClass('d-none')

        
        this.display = function()
        {
            stroke(255);
            fill(this.col);
            strokeWeight(0);
            ellipse(this.x, this.y, Math.max(this.count/1000,20), Math.max(this.count/1000,20));
            fill(this.textColor);
            textSize(Math.max(this.count/1000,20));
            
            text(this.name, this.x, this.y);
            strokeWeight(1);
            textSize(12);
            
            
            div.position(this.x*sf+xend, this.y*sf+yend+(50+Math.max(this.count/1000,20)*sf));
            var sz = 16*sf 
            div.style('font-size', sz+'px');
            div.size(300*sf,100*sf);
        }



        this.clicked = function()
        {
            var d = dist(mouseX, mouseY, this.x*sf+xend, this.y*sf+yend)
            if(d <  Math.max(this.count/1000,20)/2*sf)
            {
                /*if(this.infoopen)
                {
                    this.infoopen = false;
                    div.addClass('d-none');
                }else{
                    this.infoopen = true;
                    div.removeClass('d-none')
                }*/
            }
        }

        this.select = function(name)
        {
            if(name == this.name || name == "ANY")
            {
                this.selected = true
                this.col = color(255,0,200);
                this.textColor = color(0,0,0);
            }else{
                this.col = color(100,100,100,100);
                this.textColor = color(0,0,0,10);
                this.selected = false
            }
        }

        this.moved = function()
        {
            var d = dist(mouseX, mouseY, this.x*sf+xend, this.y*sf+yend)
            if((d < Math.max(this.count/1000,20)/2*sf  && !dragging)|| this.dragging)
            {
                if(this.selected)
                {
                    this.col = color(255,0,200);
                }
                this.dragging = true;
                dragging = true;
                this.x = (mouseX-xend)/sf;
                this.y = (mouseY-yend)/sf;
                div.position(this.x*sf+xend, this.y*sf+yend+(Math.max(this.count/1000,20)*sf));
            }
        }

        this.release = function()
        {
            this.dragging = false;
        }
    }

   

    function setup() {
        var c = createCanvas(windowWidth, 800);
        
        for(var i = 0; i < document.getElementsByClassName("userdiv").length; i++)
        {
            var x = random(width*0.2,width*0.75);
            var y = random(height*0.2,height*0.75);
            var name = document.getElementsByClassName("userdiv")[i].id.split("div_")[1]
            infos.push(new infoCircle(x,y,name,document.getElementById("count_"+name).innerHTML));
        }
    
    }

    function draw() {
    
    var abso = "{{absolute}}"

    connections = []
    
    background(125);
    translate(mx, my);
    scale(sf);
    
    for (var i = 0; i < infos.length; i++)
    {
        
        user = infos[i].name
        mode = true
        for(var v = 0; v < document.getElementById("div_"+user).children.length; v++)
        {
            for (var z = 0; z < infos.length; z++)
                {
                    if(infos[z].name == document.getElementById("div_"+user).children[v].innerHTML.split("**")[0])
                    {

                        var fillB = true;
                        if(document.getElementById("div_"+user).children[v].innerHTML.split("**")[1] == 'True')
                        {
                            if(eachother)
                            {
                                if(connections.includes(infos[i].name +":"+infos[z].name))
                                {
                                    strokeWeight(4)
                                }else{
                                    
                                    strokeWeight(0)
                                    connections.push(infos[z].name +":"+infos[i].name)
                                    fillB = false;
                                }
                            }else{
                                strokeWeight(4)
                            }
                            
                            
                        }else{
                            strokeWeight(0)
                            var fillB = false;
                        }

                        
                        var offset = 10;
                        x1 = createVector(infos[z].x, infos[z].y)
                        x2 = createVector(infos[i].x, infos[i].y)
                        x3 = createVector((infos[z].x+infos[i].x)/2, (infos[z].y+infos[i].y)/2)
                        

                        fcolor = color(255,255,255,255);
                        
                        /**if(infos[z].selected && fillB && !infos[i].selected && follows)
                        {
                            infos[i].col = color(0,0,255, 100)
                            infos[i].textColor = color(0,0,0,200)
                        }
                        if(!infos[z].selected && fillB && infos[i].selected && followedBy)
                        {
                            infos[z].col = color(0,0,255, 100)
                            infos[z].textColor = color(0,0,0,200)
                        }**/
                        
                        if(infos[i].selected && follows|| infos[z].selected && followedBy)
                        {
                            fcolor = color(255,255,255,255);
                            stroke(fcolor);
                        }else if(eachother && (infos[i].selected || infos[z].selected)){
                            fcolor = color(255,255,255,255);
                            stroke(fcolor);
                        }else{
                            fcolor = color(255,255,255,10);
                            stroke(fcolor);
                        }

                        
                        /*if(!infos[i].col == color(0,255,0, 100) || !infos[i].col == color(255,0,200))
                        {
                            infos[i].col = color(255,255,255,10);
                        }*/

                        
                        if(!infos[i].selected && infos[z].selected && !fillB && followedBy && !follows)
                        {
                            infos[i].col = color(100,100,100,100);
                            infos[i].textColor = color(0,0,0,10);
                        }else if(!infos[i].selected && infos[z].selected && fillB && followedBy && !follows)
                        {
                            infos[i].col = color(0,0,255, 100);
                            infos[i].textColor = color(0,0,0,200)
                        }else if(infos[i].selected && !infos[z].selected && fillB && !followedBy && follows)
                        {
                            infos[z].col = color(0,0,255, 100);
                            infos[z].textColor = color(0,0,0,200)
                        }else if(infos[i].selected && !infos[z].selected && !fillB && !followedBy && follows)
                        {
                            infos[z].col = color(100,100,100,100);
                            infos[z].textColor = color(0,0,0,10);
                        }
                        else if(infos[i].selected && !infos[z].selected && fillB && followedBy && follows)
                        {
                            infos[z].col = color(0,0,255, 100);
                            infos[z].textColor = color(0,0,0,200)
                        }else if(infos[z].selected && !infos[i].selected && fillB && followedBy && follows)
                        {
                            infos[i].col = color(0,0,255, 100);
                            infos[i].textColor = color(0,0,0,200)
                        }else if(eachother && (infos[i].selected || infos[z].selected) && fillB){
                            infos[i].col = color(0,0,255, 100);
                            infos[i].textColor = color(0,0,0,200)
                        }else if(eachother && (infos[i].selected || infos[z].selected) && !fillB){
                            infos[z].col = color(100,100,100,100);
                            infos[z].textColor = color(0,0,0,10);
                        }

                        if(infos[i].selected)
                        {
                            infos[i].col = color(255,0,200);
                            infos[i].textColor = color(0,0,0);
                        }

                        if(infos[z].selected)
                        {
                            infos[z].col = color(255,0,200);
                            infos[z].textColor = color(0,0,0);
                        }
                        

                        
                        l = line(x1.x,x1.y,x2.x,x2.y)

                        noFill();
                        if(!eachother)
                        {
                            
                            push() //start new drawing state
                            var angle = atan2(x2.y - x1.y, x2.x - x1.x); //gets the angle of the line
                            translate(x3.x, x3.y); //translates to the destination vertex
                            rotate(angle-HALF_PI); //rotates the arrow point
                            if(fillB)
                            {
                                fill(fcolor);
                            }
                            triangle((-offset)*0.5, offset-15, (offset)*0.5, offset-15, 0, ((-offset)/2)-15); //draws the arrow point as a triangle
                            
                            noFill();
                            pop();
                        }
                        
                        /*noFill();
                        beginShape();
                        x1 = createVector(infos[z].x, infos[z].y)
                        x2 = createVector(infos[i].x, infos[i].y)
                        curveVertex(x1.x, x1.y);
                        curveVertex(x1.x, x1.y);
                        x3 = createVector((((infos[z].x+infos[i].x)/2) - ((infos[z].x+infos[i].x)*0.02)),(((infos[z].y+infos[i].y)/2) + ((infos[i].y+infos[z].y)*0.02)))
                        if(x2.y-x3.y > 0)
                        {
                            x3 = createVector((((infos[z].x+infos[i].x)/2) + ((infos[z].x+infos[i].x)*0.02)),(((infos[z].y+infos[i].y)/2) - ((infos[i].y+infos[z].y)*0.02)))
                        
                        }
                        curveVertex(x3.x,x3.y);
                        curveVertex(x2.x, x2.y);
                        curveVertex(x2.x, x2.y);
                        endShape();
                        var offset = 16;

                         // this code is to make the arrow point
                        push() //start new drawing state
                        var angle = atan2(x2.y - x3.y, x2.x - x3.x); //gets the angle of the line
                        translate(x3.x, x3.y); //translates to the destination vertex
                        rotate(angle-HALF_PI); //rotates the arrow point
                        if(fillB)
                        {
                            fill('white');
                        }
                        triangle(-offset*0.5, offset, offset*0.5, offset, 0, -offset/2); //draws the arrow point as a triangle
                        noFill();
                        pop();*/
                    }
                }
            
        }
        strokeWeight(1)
        
        
        
        
    }
        for (var i = 0; i < infos.length; i++)
        {
            
            infos[i].display();
            
        }
    }

    function checkInside()
    {
        var rect = document.getElementById('defaultCanvas0').getBoundingClientRect()
        if(mouseX < rect.right && mouseX > rect.left && mouseY < rect.bottom && mouseY > 0)
        {
            return true
        }else
        {
            return false
        }
    }

    function mousePressed()
    {
        if(checkInside())
        {
            startmx = mouseX;
            startmy = mouseY;
            
            for (var i = 0; i < infos.length; i++)
            {

                infos[i].clicked();
            }
        }
        
    }

    function mouseDragged()
    {
        if(checkInside())
        {
            if(!pointDrag)
            {

                for (var i = 0; i < infos.length; i++)
                {

                    infos[i].moved();
                }
            }

                if(!dragging)
                {
                    pointDrag = true;
                if(int(mouseX) - int(startmx) != mx)
                {
                    mx = xend +(int(mouseX) - int(startmx));
                }
                if(int(mouseY) - startmy != my)
                {
                    my = yend+(int(mouseY) - startmy);
                }

            }
        }
    }

    function changeThreshold()
    {

        lineThreshold = document.getElementById('threshRange').value
        document.getElementById('tText').innerText = "Threshold: " +lineThreshold
        console.log(lineThreshold)
    }

    function mouseReleased()
    {
        xend = mx;
        yend = my;
        for (var i = 0; i < infos.length; i++)
            {
                infos[i].release();
            }
        dragging = false;
        pointDrag = false;
    }

    function changeColor()
    {
        for (var i = 0; i < infos.length; i++)
            {
                infos[i].col = color(155,100,255);
            }
    }

    function selectCircle(e)
    {
        print(e.target.value)
        for (var i = 0; i < infos.length; i++)
            {
                infos[i].select(e.target.value);
            }
    }

    function changeArrowFunction(mode)
    {
        switch(mode)
        {
            case 'All':
                console.log("ALL")
                eachother = false;
                followedBy = true;
                follows = true

                break;
            case 'follows':
                console.log("FOLLOWEs")
                eachother = false;
                followedBy = false;
                follows = true
                break;
            case 'eachOther':
                console.log("EACH")
                eachother = true;
                followedBy = false;
                follows = false
                break;
            case 'followedBy':
                console.log("BYY")
                eachother = false;
                followedBy = true;
                follows = false
                break;
        }
    }

    /*window.addEventListener("wheel", function(e) {
    if (e.deltaY > 0)
        sf *= 1.05;
    else
        sf *= 0.95;
    });*/
</script>

{% endblock content %}